# Top level dirs
*.sw[po]
/Downloads
/gitcontainer
/gits
/repos
/doc
/abs
/Videos
/opt
/xfer
/Desktop
/config/vim/bundle/
/config/vim/tmp/
/export
/Dropbox
/node_modules
/perl5
/Music
/archive
/VirtualBox VMs
/DGuitar*
/tabs
/GNUstep
/src

# Specific files
tags
test-0.mp4
dead.letter
foo*
mde.*
/*.md
/*.mp3
/*.ogg
/*.json
/*.xml
/*.png
/*.jpg
/*.mkv
rogue.scr
x
*.old
*.bak

# Dot *files*
.*_history
.*.history
.*.log
.conkyrc1
.*_auth
.fbtermrc
.fehbg
.gnumericrc
.gnuplot-wxt
.gtk-bookmarks
.gtkrc-2.0
.*-credentials
.gem/credentials
.lesshst
.lucli
.luke
.*-cookie
.recently-used
.slime_paste
.viminfo
.Xauthority
.zcompdump
.zdirs
.aliases.cache
.dbshell
.googsystrayrc
.mailstat
.mongorc.js
.passwd-s3fs
.rnd
.fontpage
.gtk*
.weatherspect
.xtermcontrol
.festivalrc
.dockercfg
.s3cfg
.muttrc
.netrc
.msmtprc

# Dot *dirs*
.*/

# Keepers
!.i3
!.zfunc
