# THIS IS NOT FOR DOTFILES!
# See .dotfilesignore for that.
#
# Top level dirs
*.sw[po]
# direnv files
.envrc
/Downloads
/gitcontainer
/gits
/repos
#/doc
/abs
/Videos
/opt
/xfer
/Desktop
/config/vim/bundle/
/config/vim/tmp/
/export
/Dropbox
/node_modules
/perl5
/Music
/archive
/VirtualBox VMs
/DGuitar*
/tabs
/GNUstep
/mde-stud
/pkg
/*.tar.xz
/config/gitconfig
/tmp*
/Applications
/Go
/Library
/Movies
/Public
/vendor
.DS_Store
*.zwc
tmp
.nix-*
netrc
gitconfig
/config/shell/work.sh

# Specific files
tags
test-0.mp4
dead.letter
# mde.*
/*.mp3
/*.ogg
/*.json
/*.png
/*.jpg
/*.mkv
rogue.scr
x
y
z
*.old
*.bak
*.gz
*.bz2
*.gpg
.gpg*
*.log
*.orig
/.z
*~undo-tree~

# Dot *files*
.*_history
.*.history
.*.log
.conkyrc1
.*_auth
.fbtermrc
.fehbg
.gnumericrc
.gnuplot-wxt
.gtk-bookmarks
.gtkrc-2.0
.*-credentials
.gem/credentials
.lesshst
.lucli
.luke
.*-cookie
.recently-used
.slime_paste
.viminfo
.Xauthority
.Xclients
.xsession-errors
/contrib/mountebank
/misc
.z.*
.curlrc
.zcompdump
.zdirs
.aliases.cache
.dbshell
.googsystrayrc
.mailstat
.mongorc.js
.passwd-s3fs
.rnd
.fontpage
.gtk*
.weatherspect
.xtermcontrol
.festivalrc
.dockercfg
.s3cfg
.netrc
.msmtprc
.projectile
.yarnrc
yarn.lock
installed.lst
snaps
.mycli-history
.myclirc
.octave_hist
.profile
.s3fs
.wget-hsts
.aspell.*
.asql.aliases
.goaccessrc
.h2.server*
.multirust

# Dot *dirs*
.*/

# Keepers
!.i3
!.zfunc
