# http://tnovelli.net/blog/blog.2011-08-27.node-npm-user-install.html = true
# Was using abs paths = true
#root = ~/.local/lib/node_modules
#binroot = ~/.local/bin
#manroot = ~/.local/share/man
python = python2
