!!! 5
html
  head
    meta(http-equiv='content-type', content='text/html; charset=UTF-8')
    title XXX
    link(rel='stylesheet', href='XXX.css', type='text/css', media='screen')
    link(href='http://fonts.googleapis.com/css?family=PT+Sans', rel='stylesheet', type='text/css')
    style(type='text/css')
      body { font-family: 'PT Sans', arial, serif; }
      h1 {color:red}
      p  {color:blue}
    script(type='text/javascript', src='XXX')
    script(type='text/javascript')
      // XXX
  body
    p
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
      | eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
      | enim ad minim veniam, quis nostrud exercitation ullamco laboris
      | nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
      | reprehenderit in voluptate velit esse cillum dolore eu fugiat
      | nulla pariatur. Excepteur sint occaecat cupidatat non proident,
      | sunt in culpa qui officia deserunt mollit anim id est laborum.
